#header1{
    background-color: palevioletred;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
body{margin: 0;}
#parte1{
    display: flex;
    flex-direction: column;;
    width: 100%;

}
#parte2{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    float: left;
    padding: 10px;

}
#parte3{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    float: right;
    padding: 10px;
}
h1{
    text-align: flex-start;
    font-size: 50px;
}
h2{
    text-align: flex-start;
    font-size: 30px;
}
#parrafo1, #parrafo2, #parrafo3{
    text-align: center;
    font-size: 16px;
}
.derecha{
    float:right;
}
.izquierda{
    float:left;
}