#header1{
    background-color: palevioletred;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
h1{
    text-align: flex-start;
    font-size: 20px;
    padding: 10px;
}
h2{
    text-align: flex-start;
    font-size: 10px;
    padding: 0px;
}

#parrafo1, #parrafo2, #parrafo3{
   text-align: center;
   font-size: 14px;
}
.derecha{
    float:right;
}
.izquierda{
    float:left;
}