#header1{
    background-color: palevioletred;
    width: 100%;
    font-size: 40px;
    text-align: center;
}
#parrafo3, #parrafo2, #parrafo1{
   text-align: center;
}
#parte3{
    justify-content: flex-end;
}