div{
  border: solid;
  width: 100px;
  float: left;   
}
#patata1, #patata4, #patata7 {
  border-color: rgba(58, 197, 79, 0.133);
  padding: 20px, 15px, 30px, 25px;
  height: 150px;

}
#patata2, #patata5, #patata9 {
  border-color: rgba(77, 0, 119, 0.133);
  padding: 20px, 15px, 30px, 25px;
  height: 50px;

}
#patata3, #patata6, #patata8 {
  border-color: rgba(187, 157, 22, 0.133);
  padding: 20px, 15px, 30px, 25px;
  height: 80px;

}
.margen-derecha{
  margin-right: 80px;
}
.margen-inferior{
  margin-bottom: 5px;
}
#patata, #patata01, #patata02{
  border-width: 0px;
}