div{
  border: 2px solid #0712;
  width: 100px;
  float: left; 
  
}
#div1, #div4, #div7 {
  height: 150px;
  width: 100px;
}
#div2, #div5, #div9 {
  height: 50px;
  width: 150px;
}
#div3, #div6, #div8 {
  height: 80px;
  width: 80px;
}