h1{
    color: forestgreen;
}
h2 {
    color: #008080;
}
p{ 
    color: #4682b4;
}
#color1{
    color: #ff0000;
}
#color2{
    color: #ffa500;
}
#color3{
    color: #f32bcb;
}

body{
    background-color: #8ebae085;
}
div{color: rgb(140, 55, 186);}